
.card {

    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
  }
  

  .d-flex {
    display: flex;
    justify-content: space-between;
  }