.answerOptions {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .radioCustomButton {
    position: absolute;
    width: auto;
    opacity: 0;
  }
  
  .radioCustomButton,
  .radioCustomLabel {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }
  
  .radioCustomLabel {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1.5rem 2.5rem 1.5rem 5rem;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .radioCustomButton ~ .radioCustomLabel:before {
    position: absolute;
    top: 20px;
    left: 38px;
    width: 28px;
    height: 28px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 50%;
    transition: all 0.3s;
  }
  
  .radioCustomButton:checked ~ .radioCustomLabel:before {
    content: '';
    background: #8bc53f url(../../img/icon-check.svg) no-repeat;
    background-size: 27px;
    border-color: #8bc53f;
  }
.checked ~ .radioCustomLabel:before {
    content: '';
    background: #8bc53f url(../../img/icon-check.svg) no-repeat;
    background-size: 27px;
    border-color: #8bc53f;
  }

  .radioCustomButton.userFalse ~ .radioCustomLabel:before {
    content: '';
    background: #c53f3f;
    background-size: 27px;
    border-color: #c53f3f;
  }
  .radioCustomButton.userTrue ~ .radioCustomLabel:before {
    content: '';
    background: #8bc53f url(../../img/icon-check.svg) no-repeat;
    background-size: 27px;
    border-color: #eff1ec;
  }
  .userTrue{
    background-color: #8bc53f;
  }
.userFalse{
    background-color: #c53f3f70;
  }